form {
  max-width: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.erro {
  color: red;
  font-size: 0.8rem;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
